{% extends 'gym/admin_dashboard.html' %}

{% block content %}
    <style>
        /* CSS for table styling */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: white;
            color: black;
        }
        /* Center the buttons */
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        .button-container button {
            background-color: #98FB98;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            margin-left: 10px;
        }
        .button-container a {
            background-color: #FF6347;
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            margin-left: 10px;
        }
    </style>

    <h2>Edit Member</h2>
    <form method="post">
        {% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="button-container">
                    <div class="button-container">
                        <button type="submit" style="background-color: #04AA6D; color: white; text-decoration: none; padding: 11px 20px; border-radius: 5px;">Save</button>
                    <a href="javascript:history.back()">Back</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
