	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head> {% load static %}
  {% block content %} 

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'img/fav.png' %}" 
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		 <title>Gym Management Django Python App</title>
 
		<link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700' %}"  rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'css/linearicons.css' %}" >
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" >
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}"> 			
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" >
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" >
			<link rel="stylesheet" href="{% static 'css/main.css' %}" >
		</head>
		<body>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row header-top align-items-center">
			    		<div class="col-lg-4 col-sm-4 menu-top-left">
			    			</div>
			    		<div class="col-lg-4 menu-top-middle justify-content-center d-flex">
							<a href="{% static 'index.html">	
								<img class="img-fluid" src="{% static 'img/logo.png' %}" alt="">	<span style="font-size:20px">Gym Management App</span>
							</a>		    			
			    		</div>
			    		<div class="col-lg-4 col-sm-4 menu-top-right">
			    			</div>
			    	</div>
			    </div>	
			    	<hr>
			    <div class="container">	
			    	<div class="row align-items-center justify-content-center d-flex">
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="#">Home</a></li>
						  
				          <li><a href="{% url 'adminlogin' %}">Admin Login</a></li>
						  
				          <li><a href="{% url 'member_login' %}">Member Login</a></li>
						  <li><a href="{% url 'registration' %}">Register</a></li>				          
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>		
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-12 col-md-12">
							<h1 class="text-uppercase">
								Real Fitness <br>
								Depends on Exercise					
							</h1>
							<p class="text-white text-uppercase pt-20 pb-20">
								Gym management app
							</p>
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start offer Area -->
			<section class="offer-area section-gap" id="offer">
				<div class="container">	
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class=" mb-10">Gym Records Manage</h1>
								<p>This app can be helpful for both gym owner as well as for gym members</p>
							</div>
						</div>
					</div>									
					<div class="row">
						<div class="col-lg-4">
							<div class="single-offer">
								<img class="img-fluid" src="{% static 'img/o1.png' %}" alt="">
								<h4>Admin Module </h4>
								<p>
									Admin can manage the bill receipts, schedules , diet plans etc.
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-offer">
								<img class="img-fluid" src="{% static 'img/o2.png' %}" alt="">
								<h4>User Module</h4>
								<p>
									User can view the bills and see their diet plan schedules.
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-offer">
								<img class="img-fluid" src="{% static 'img/o3.png' %}" alt="">
								<h4>Gym Records Manage</h4>
								<p>
								This application can be  elaborated by providing supplement store , diet  information, personal training etc.</p>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End offer Area -->
			
			<!-- Start convert Area -->
			<!-- End footer Area -->

			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
			<script type="text/javascript" src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA' %}"></script>
  			<script src="{% static 'js/easing.min.js' %}"></script>			
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>	
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>			
			<script src="{% static 'js/jquery.sticky.js' %}"></script>
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>			
			<script src="{% static 'js/parallax.min.js' %}"></script>	
			<script src="{% static 'js/waypoints.min.js' %}"></script>
			<script src="{% static 'js/jquery.counterup.min.js' %}"></script>			
			<script src="{% static 'js/mail-script.js' %}"></script>	
			<script src="{% static 'js/main.js' %}"></script>	
			 {% endblock %}

		</body>
	</html>



