{% extends 'gym/admin_dashboard.html' %}

{% block content %}
    <style>
        /* CSS for table styling */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #04AA6D;
            color: white;
        }
        /* Center the back button */
        .back-button-container {
            text-align: center;
        }
    </style>

    <h2>Member Details</h2>
    <table>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr>
            <td><strong>Name</strong></td>
            <td>{{ member.Name }}</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>{{ member.Email }}</td>
        </tr>
        <tr>
            <td><strong>Mobile</strong></td>
            <td>{{ member.Mobile }}</td>
        </tr>
        <tr>
            <td><strong>Weight</strong></td>
            <td>{{ member.Weight }}</td>
        </tr>
        <tr>
            <td><strong>Height</strong></td>
            <td>{{ member.Height }}</td>
        </tr>
        <tr>
            <td><strong>Age</strong></td>
            <td>{{ member.Age }}</td>
        </tr>
        <tr>
            <td><strong>Address</strong></td>
            <td>{{ member.Address }}</td>
        </tr>
        <!-- Add more details as needed -->
    </table>
    <div class="back-button-container">
        <a href="{% url 'user_list' %}" style="background-color: #04AA6D; color: white; text-decoration: none; padding: 5px 10px; border-radius: 5px;">Back</a>
    </div>
{% endblock %}
