{% extends 'gym/admin_dashboard.html' %}

{% block content %}
    <style>
        /* Define the CSS styles */
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        #customers tr:hover {
            background-color: #ddd;
        }
        
        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
        
        .detail-link {
            color: skyblue; /* Set the color for member_detail */
        }
        
        .edit-link {
            color: yellow; /* Set the color for edit_member */
        }
        
        .delete-link {
            color: red; /* Set the color for delete_member */
        }

        /* Style for the Add Member button */
        .add-member-button {
            background-color: #04AA6D;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin-bottom: 10px; /* Add margin below the button */
        }

        /* Style for the container of the Member List and Add Member button */
        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>

    <div class="button-container">
        <h2>Member List</h2>
        <a href="{% url 'add_member' %}" class="add-member-button"><i class="fas fa-user-plus"></i> Add Member</a>
    </div>
    
    <table id="customers">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.Name }}</td>
            <td>{{ user.Email }}</td>
            <td>
                <a href="{% url 'member_detail' user.pk %}" class="detail-link"><i class="fas fa-eye"></i></a>
                <a href="{% url 'edit_member' user.pk %}" class="edit-link" style="margin-left: 10px;"><i class="fas fa-edit"></i></a>
                <a href="{% url 'delete_member' user.pk %}" class="delete-link" style="margin-left: 10px;"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
